# Ignore .DS_Store files
*.DS_Store

# Ignore .git folder
/.git

# Ignore node_modules folder
/node_modules

# Ignore log files
*.log

# Ignore peh files
*.peh

# Ignore db.sqlite3 file
db.sqlite3

# Ignore coverage folder
/coverage